# Terraform
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Python
__pycache__/
*.pyc
.env
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/
